<div class="post-list-container-dashboard">
    <a href="/dashboard/edit/{{id}}">
        <div class="row">
            <div class="col-6 list-title-dashboard">
                {{title}}
            </div>
            <div class="col-6 text-right posted-by-dashboard">
                {{format_date created_at}}
            </div>
        </div>
    </a>