<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<div class="outer-border">
  <div class="inner-border">
    <div class="background" >
      <header>
        <nav>
          <div class="nav-row"> 
            {{#if loggedIn}}
            <a href="/" class="nav-links">Home</a>
            <a href="/dashboard" class="nav-links">Dashboard</a>
            <button id="logout" class="btn btn-logout btn-sm nav-links">Logout</button>
            {{else}}
            <a href="/">Home</a>
            <a href="/login" class="button is-primary">Login</a>
            {{/if}}
          </div>
          <div class="title-row">
            <h1 class="title">
              <a href="/">The Tech Blog</a>
            </h1>
          </div>
        </nav>
      </header>

      <main>
        {{{ body }}}
      </main>


      {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
      {{/if}}
    </div>
  </div>
</div>