<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<div class="outer-border">
  <div class="inner-border">
    <div class="background">
      <header>
        <nav>
          <div class="nav-row nav-row-top">
            {{#if loggedIn}}
            <a href="/" class="nav-links">Home</a>
            <a href="/dashboard" class="nav-links">Dashboard</a>
            <a href="/" id="logout" class="nav-links">Logout</a>
            {{else}}
            <div class="nav-row-logged-out">
              <a href="/" class="nav-links">Home</a>
              <a href="/login" class="nav-links">Login</a>
            </div>
            {{/if}}
          </div>
        </nav>
      </header>

      <main>
        {{{ body }}}
      </main>


      {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
      {{/if}}
    </div>
  </div>
</div>