<header>
  <nav>
    <div class="nav-row">
      <h1 class="title">
        <a href="/dashboard">Your Dashboard</a>
      </h1>
    </div>
  </nav>
</header>
<div class="post-list-container">
  <div class="list-title text-light-green">Create New Post</div>
  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input class="input edit-post" name="post-title" type="text" placeholder="Post title..." />
    </div>
    <div>
      <label for="post-content">Content</label>
      <input class="textarea edit-post mb-3" id="post-content" name="post-content" placeholder="Post content..." />
      <button type="submit" class="btn btn-update-delete">Create</button>
    </div>
  </form>
</div>

<script src="/javascript/add-post.js"></script>