<div>
  <h2 class="title">Create Post</h2>
  <hr>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="Post Title" />
    </div>
    <div>
      <label for="post-content">Content:</label>
      <input class="textarea is-large" id="post-content" name="post-content" placeholder="Post Content" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<script src="/javascript/add-post.js"></script>