<header>
    <nav>
        <div class="nav-row">
            <h1 class="title">
                <a href="/dashboard">Your Dashboard</a>
            </h1>
        </div>
    </nav>
</header>

{{#if posts.length}}

{{#each posts as |post|}}
{{> post-dashboard post}}

</div>
{{/each}}

{{else}}
<p class="center" >The posts you create will appear here.</p>


{{/if}}
<div class="center mb-3">
    <a href="/dashboard/create/"><button id="create-post" class="btn btn-new">+ New Post</button></a>
</div>