<header>
    <nav>
        <div class="nav-row">
            <h1 class="title">
                <a href="/">The Tech Blog</a>
            </h1>
        </div>
    </nav>
</header>
{{#each posts as |post|}}

{{> post-info post }}

{{else}}
<p>No posts</p>
{{/each}}