<header>
  <nav>
    <div class="nav-row">
      <h1 class="title">
        <a href="/">The Tech Blog</a>
      </h1>
    </div>
  </nav>
</header>

{{> post-info post }}
{{!-- Logged in --}}
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body" placeholder="Post a comment..."></textarea>
  </div>

  <div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>

</form>
{{/if}}


{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}