body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
  color: #1a1a1a;
  margin: .25rem;

}

.background {
  background-color: #d9ead3;
}

.title {
  margin-top: 3rem;
}

.title a {
  background-color: #d9ead3;
  box-shadow: 8px 7px 0px #a7a7a7;
  border-radius: 10px;
  font-size: 3rem;
  color: #231010;
}

.title>a:hover {
  color: #703434;
  text-decoration: none;
}

p {
  font-size: 1.1rem;
}

a {
  color: #a4a3a4;
  text-decoration: none;
}

a:hover {
  color: #D6BFBF;
  text-decoration: none;
}


.outer-border {
  padding: 1px;
  background: #231010;
  border-radius: 4px
}


.inner-border {
  padding: 4px;
  background: white;
  border-radius: 2px;
}



.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.nav-links {
  color: #d9ead3;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0rem 5rem 0rem 0rem;
}

.nav-row {
  width: 100%;
  display: flex;
  justify-content: start;
  padding-top: 2rem;
}

.create-row {
  padding: 4rem;
  padding: 0% 3% 0% 3%;
}

@media screen and (max-width: 767px) {
  .create-row {
    width: 95%;
    margin: auto
  }
}

.row-container {
  border: 3px solid #231010;
  margin: 0rem 2rem 2rem 2rem;

}

.header-row-container {
  color: #a4a3a4;
  background-color: #231010;
  padding: 1rem;

}

.description-row-container {
  color: black;
  padding: 0rem 1rem 0rem 1rem;

}

.no-button:hover {
  color: #703434;
  text-decoration: underline;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea,
input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form>div {
  margin-bottom: 2%;
}

form label {
  display: block;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #231010;
}

main {
  flex: 1;

}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.edit-post-form {
  margin-bottom: 5%;
}


.card {
  margin-bottom: 1em;
  margin-top: 1em;
}

.rows {
  display: flex;
  flex-direction: column;
}