.outer-border {
  padding: 1px;
  background: #231010;
  border-radius: 4px
}


.inner-border {
  padding: 4px;
  background: white;
  border-radius: 2px;
}

header {
  background-color: #231010;
  padding: 2rem;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

#login {
  color: #d9ead3;
  font-size: 1.75rem;
  cursor: pointer;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}